ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }

  li{
    color: cornflowerblue;
  }

  .tab {
    background-color: #f1f1f1;
    size: 10px;
    align-self: auto;
   }

  .tab button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    float: left;
    padding: 14px 16px;
    font-size: 17px;
    width: fit-content;
  }

  /* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}